*{
    box-sizing: border-box;
    margin:0px;
}

img{
    display:block;
    width : 900px;
    margin:auto;
    margin:40px auto;
}

#question, .reponse{
    /*Flex*/
    display:flex;
    justify-content: center;
    align-items: center;
    /*Boite*/
    width: 900px;
    height: 50px;
    margin:auto;
    padding: 12px 0;
    border: 2px solid black;
    /*Texte*/
    font-size: 30px;
}

#question{
    margin-bottom: 12px;
}

.conteneur-reponse{
    width:900px;
    margin:auto;
}


.ligne{
    display:flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.reponse{
        width: 400px;
        height: 60px;
        border:2px solid rgb(8, 6, 6);
        border-radius: 20px;
        margin: 0;
}

#suivant{
    display:block;
    margin:auto;

    padding: 8px 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
